<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for rs in post %}
    <h1>{{ rs.title }}</h1>
    <h2>{{ rs.keywords }}</h2>
    <h2>{{ rs.description }}</h2>
    <h3>{{ rs.author }}</h3>
    <img src="{{ rs.image.url }}" style="height:100px" alt="">
    <h3>{{ rs.create_at }}</h3>
{% endfor %}
</body>
</html>