<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for rs in student %}
    <h1>{{ rs.name }}</h1>
    <h2>{{ rs.surname }}</h2>
    <h2>{{ rs.lastname }}</h2>
    <h3>{{ rs.teacher }}</h3>
    <img src="{{ rs.image.url }}" style="height:100px" alt="">

{% endfor %}
</body>
</html>